<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<!--
      ✅ Đổi "LAPTOP-C861HF1M\SQLEXPRESS01" thành tên máy tính của bạn nếu chạy trên máy khác
      ✅ Thêm TrustServerCertificate=True để tránh lỗi SSL trên SQL Server 2019+
    -->
		<add name="ChuoiKetNoi"
     connectionString="Data Source=LAPTOP-C861HF1M\SQLEXPRESS01;Initial Catalog=QuanLyChiTieu;Integrated Security=True;TrustServerCertificate=True;"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
